.questions-container {
    padding: 15px;

    .questions-builder-body {
        margin-top: 15px;
    }

    .answers-section {
        margin-top: 15px;
        padding-left: 12px;
    }

    .group-upload {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}