.col-md-12 {
    height: 200px;
    display: flex;
    border: 1px dashed var(--qm-slate-300);
    border-radius: var(--qm-radius-md);
    align-items: center;
    justify-content: center;
    color: var(--qm-slate-400);
    padding: 30px;

    .img-preview {
        max-width: 150px;
        max-height: 150px;
    }
}

.col-md-16 .label-upload:hover {
    background-color: var(--qm-slate-200);
    cursor: pointer;
}